body {
  background-color: black;
  height: 40cm;
}
ul {
  margin-top: 0.3cm;
  margin-left: 7cm;
}
li {
  text-align: center;
  margin-top: 0.1cm;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  list-style: none;
  margin-left: 1cm;
  width: 3cm;
  height: 1.5cm;
}
#stop:hover {
  background-color: red !important;
}
li:hover {
  cursor: pointer;
  color: black !important;
  background-color: aqua !important;
}
#area1 {
  scrollbar-width: 1px;
  scrollbar-color: red black;
}
body {
  margin: 0;
}
div {
  margin: 0;
}
html {
  margin: 0;
  user-select: none;
  overflow-x: hidden;
}
